/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  //noinspection CssUnknownTarget
  background: url('/content/images/undraw_knowledge_re_5v9l.svg') no-repeat center top;
  background-size: contain;
}
